<!--
  * Add a rating modal component.
  *
  * @author Patrice Boulet
  */
-->

<!-- Include the plugin's CSS and JS: -->
<script type="text/javascript" src="../../../framwork_dir/bootstrap-multiselect/bootstrap-multiselect.js"></script>
<link rel="stylesheet" href="../../../framwork_dir/bootstrap-multiselect/bootstrap-multiselect.css" type="text/css"/>

<!-- Modal -->
<div class="modal fade" id="addLocationRatingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width:70%">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add a rating</h4>
      </div>
      <div class="modal-body">
        <form id="addLocationRatingForm" class="form-horizontal form-signup" role="form">
                <div class="row">
                    <div class="col-sm-4">
                        <div id="addLocationRatingFoodGroup" class="form-group">
                            <label for="addLocationRatingFood" class="col-sm-6" style="text-align:right">Food</label>
                            <input type="number" name="addLocationRatingFood" id="addLocationRatingFood" 
                                   class="rating" data-min="1" data-max="5" />
                        </div>
                        <div id="addLocationRatingServiceGroup" class="form-group">
                            <label for="addLocationRatingService" class="col-sm-6" style="text-align:right">Service</label>
                            <input type="number" name="addLocationRatingService" id="addLocationRatingService" class="rating" data-min="1" data-max="5"/>
                        </div>
                        <div id="addLocationRatingAmbianceGroup" class="form-group">
                            <label for="addLocationRatingAmbiance" class="col-sm-6" style="text-align:right">Ambiance</label>
                            <input type="number" name="addLocationRatingAmbiance" id="addLocationRatingAmbiance" class="rating" data-min="1" data-max="5"/>
                        </div>
                        <div id="addLocationRatingPriceGroup" class="form-group">
                            <label for="addLocationRatingPrice" class="col-sm-6" style="text-align:right">Price</label>
                            <input type="number" name="addLocationRatingPrice" id="addLocationRatingPrice" class="rating" data-icon-lib="fa" data-active-icon="fa-usd" data-inactive-icon="fa-angle-right" data-min="1" data-max="5"/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div id="addRatingDrinksAvailGRoup" class="form-group">
                            <label for="addRatingDrinksAvail" class="col-sm-4 control-label">Drinked </label>
                                <select id="addRatingDrinksAvail" multiple="multiple" class="btn btn-default dropdown-toggle">
                                    <option value="" disabled selected>What did you drink?</option>
                                </select>
                        </div>
                        <div id="addRatingFoodAvailGroup" class="form-group">
                            <label for="addRatingFoodAvail" class="col-sm-4 control-label">Eated </label>
                                <select id="addRatingFoodAvail" multiple="multiple" class="btn btn-default dropdown-toggle">
                                    <option value="" disabled selected>What did you eat?</option>
                                </select>
                        </div>
                        <div id="addLocationRatingCommentsGroup" class="form-group">
                            <label for="addLocationRatingComments" class="col-sm-6">Comments</label>
                            <textarea name="addLocationRatingComments" id="addLocationRatingComments" class="form-control"></textarea>
                        </div>
                        <div class="form-group col-sm-12">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-danger" id="addLocationRatingFormSubmit" name="submit">Submit</button>
                        </div>
                    </div>
                    </div>     
            </div>    
        </form>
      </div>
    </div>
  </div>
</div>